@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-secondary: #0000000a;
  --background-card: #f3f4f6;
  --background-cardSec: #e5e7eb;
  --border: #ededed;
  --border-input: #d1d5db;
  --text-clr: #374151;
  --text-clr-two: #2e2e2e;
  --text-clr-title: #1f2937;
  --text-clr-light: #6b7280;
  --text-clr-table: #344054;
}

@theme inline {
  --color-background: var(--background);
  --color-cardbg: var(--background-card);
  --color-cardbgSec: var(--background-cardSec);
  --color-border: var(--border);
  --color-border-input: var(--border-input);
  --color-light: var(--text-clr-light);
  --color-text: var(--text-clr);
  --color-clrTwo: var(--text-clr-two);
  --color-blackTxt: var(--text-clr-title);
  --color-blackTbl: var(--text-clr-table);
  --color-btn: #3758f9;
  --font-dm: var(--font-dm-sans);
  --font-geist: var(--font-geist);
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

.tilt-lines {
  background: repeating-linear-gradient(
    135deg,
    #ededed 0px,
    #ededed 1px,
    transparent 1px,
    transparent 10px
  );
}

.down-border {
  position: relative;
}
.down-border::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100vw;
  height: 1px;
  background-color: var(--border);
}

.grid-container {
  @apply grid 
    grid-cols-1                /* default: single column on mobile */
    md:grid-cols-[1fr_minmax(0,45rem)_1fr] /* medium: center column with side gutters */
    lg:grid-cols-[1fr_minmax(0,70rem)_1fr] /* large screens */
    2xl:grid-cols-[1fr_91rem_1fr]; /* extra large screens */
}
